<a href="https://colab.research.google.com/github/jayasankha1010/Data_visualization_with_python/blob/master/Data_visualization_with_python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

df_can = pd.read_excel('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DV0101EN/labs/Data_Files/Canada.xlsx', sheet_name = 'Canada by Citizenship', skiprows = range(20), skipfooter=2)
print('Downloaded and ready to begin the adventure with data')

Downloaded and ready to begin the adventure with data

In [5]:
df_can.head()

         Type    Coverage          OdName  AREA  ...  2010  2011  2012  2013
0  Immigrants  Foreigners     Afghanistan   935  ...  1758  2203  2635  2004
1  Immigrants  Foreigners         Albania   908  ...   561   539   620   603
2  Immigrants  Foreigners         Algeria   903  ...  4752  4325  3774  4331
3  Immigrants  Foreigners  American Samoa   909  ...     0     0     0     0
4  Immigrants  Foreigners         Andorra   908  ...     0     0     1     1

[5 rows x 43 columns]

In [7]:
df_can.drop(['Type', 'Coverage', 'AREA', 'REG', 'DEV'], axis=1, inplace=True)
df_can.head()

           OdName AreaName          RegName  ...  2011  2012  2013
0     Afghanistan     Asia    Southern Asia  ...  2203  2635  2004
1         Albania   Europe  Southern Europe  ...   539   620   603
2         Algeria   Africa  Northern Africa  ...  4325  3774  4331
3  American Samoa  Oceania        Polynesia  ...     0     0     0
4         Andorra   Europe  Southern Europe  ...     0     1     1

[5 rows x 38 columns]

In [8]:
df_can.rename(columns={'OdName':'Country', 'AreaName':'Continent','RegName':'Region'}, inplace=True)
df_can.head(2)

       Country Continent           Region  ...  2011  2012  2013
0  Afghanistan      Asia    Southern Asia  ...  2203  2635  2004
1      Albania    Europe  Southern Europe  ...   539   620   603

[2 rows x 38 columns]

In [9]:
df_can.columns = list(map(str, df_can.columns))
df_can.head(2)

       Country Continent           Region  ...  2011  2012  2013
0  Afghanistan      Asia    Southern Asia  ...  2203  2635  2004
1      Albania    Europe  Southern Europe  ...   539   620   603

[2 rows x 38 columns]

In [11]:
df_can.set_index('Country', inplace=True)

KeyError: ignored

In [12]:
df_can.head(2)

            Continent           Region             DevName  ...  2011  2012  2013
Country                                                     ...
Afghanistan      Asia    Southern Asia  Developing regions  ...  2203  2635  2004
Albania        Europe  Southern Europe   Developed regions  ...   539   620   603

[2 rows x 37 columns]

In [13]:
df_can.index

Index(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       ...
       'United States of America', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Western Sahara',
       'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='Country', length=195)